name: cooljeanius/cocoadialog
on:
  push:
    branches:
    - "**/*"
  pull_request:
jobs:
  test:
    runs-on: macos-latest
    steps:
    - name: checkout
      uses: actions/checkout@v6
    - uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '26.1.1'
    - run: export PATH="/usr/local/bin:$PATH" && export HOMEBREW_NO_EMOJI=1 HOMEBREW_BOOTSNAP=1 HOMEBREW_CURL_VERBOSE=1 HOMEBREW_VERBOSE=1 HOMEBREW_VERBOSE_USING_DOTS=1 && export GIT_CURL_VERBOSE=1 && sync && (env | uniq | sort | uniq | tee .env.local) && sync && sleep 1
    - run: which -a brew && brew update -v --auto-update
    - run: brew --version && sync && (brew outdated hcxtools || brew upgrade hcxtools) && sync
    - run: brew upgrade -v --display-times node 2>/dev/null || brew install -v node
    - name: Node version check
      run: |
        if test -x /usr/local/bin/node; then \
          echo "node found at /usr/local/bin/node" && sync; \
          /usr/local/bin/node -v && /usr/bin/env node -v && node -v; \
        elif test -x /opt/homebrew/bin/node; then \
          echo "node found at /opt/homebrew/bin/node" && sync; \
          /opt/homebrew/bin/node -v && /usr/bin/env node -v && node -v; \
        else \
          which -a node && /usr/bin/env node -v && node -v; \
        fi
        sleep 1
    - run: brew upgrade yarn 2>/dev/null || brew install yarn
    - run: gem install xcpretty --no-document --quiet && gem install xcpretty-travis-formatter --no-document --quiet
    - run: yarn
    - run: yarn build || find . -name main.m -print
    - run: yarn test || find . -name '*.bundle' -print
    - run: (pip install coveragepy || gem install codecov) && sync && bash <(curl -s https://codecov.io/bash) -J '^cocoadialog$'
      if: "${{ success() }}"
    - run: if test -x "$(which brew)"; then brew --help; else echo "No usable brew available!"; fi
      if: "${{ failure() }}"
